

@model Matt.Models.AddMealProfile


@{
    ViewBag.Title = "Create Meal!";
    ViewBag.ShowBackBar = null;


}

<h2 id="welcome-create">Create Meal!</h2>

@* this allows us to use the partial view _EntryForm *@
@Html.Partial("_EntryForm")








